name: First Workflow

on: 
  push:
    branches:
      - main
jobs: 
  example-job: 
    runs-on: ubuntu-latest

    steps:
      - name: Print a welcome message
        run: echo "Welcome"
        
      - name: Checkout repo
        uses: actions/checkout@v6-beta

      - name: list repo files
        run: ls -la
      
        
